@using EventManager;

@model  Event
@{
    ViewBag.Title = "Create Event";
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/popper.min.js")"></script>

<style type="text/css">

    .form-control option {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        text-decoration: none;
        cursor: pointer;
        background-color: white;
    }

    .form-control:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
        cursor: pointer;
    }

    .form-control option::-moz-selection {
        background: yellow;
    }

    .form-control option::selection {
        background: yellow;
    }

    .form-control option:focus, option:hover {
        color: #262626 !important;
        text-decoration: none !important;
        background-color: red !important;
        cursor: pointer;
    }

    .form-group .form-row {
        margin-bottom: 10px;
    }

    .btn-secondary:hover {
        color: white;
        border: lightblue 1px solid;
        background-color: gainsboro;
    }
</style>
 
<style type="text/css">

    #top-panel {
        background: #fdccd3;
        border: 2px dashed #ff7d77;
        padding: 14px 20px;
        text-align: right;
        
    }

    #sub-panel {
        text-align: center;
    }

    #sub-panel a {
        width: 150px;
        float: right; 
        color: black;
        text-decoration: none;
        margin-right: 30px;
        font-weight: bold;
    }

    #sub-panel a span {
        padding: 6px;
        display: block;
        border: solid 1px #1E90FF;
    }

    strong {
        color: black;
    }

    .face {
        border: solid 2px #a6c34e;
        margin-left: 10px;
        float: right;
    }

    :focus {
        outline: 0
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sub-panel").click(function () {
            $("#top-panel").slideToggle();
            var el = $("#shText");
            var state = $("#shText").html();
            state = (state == 'Hide' ? '<span id="shText">Show</span>' : '<span id="shText">Hide</span>');
            el.replaceWith(state);
        });
    });
</script>

<div id="top-panel">
    <strong>Title</strong>
    <br /> content
</div>  
<div id="sub-panel"><a href="#" id="toggle"><span id="shText">Hide</span></a></div>

<div class="jumbotron" style="min-height: 400px;">
    <h2>Create Event</h2>
    <br />
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <input readonly id="modelId" name="modelId" type="text" class="form-control" placeholder="Event Id"
                       value="@(Model.Id == 0 ? string.Empty : @Model.Id.ToString())" />
            </div>
            <div class="col">
                <input type="text" id="modelName" name="modelName" class="form-control" placeholder="Event Name" value="@Model.Name" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" id="modelDescription" name="modelDescription" class="form-control" placeholder="Event Description" value="@Model.Description" />
            </div>
            <div class="col">
                <input type="number" id="modelCapacity" class="form-control" min="1" max="99" step="1" placeholder="Event Capacity"
                       value="@(Model.Capacity == 0 ? "1" : @Model.Capacity.ToString())" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="datetime" id="modelEventDateTime" class="form-control" placeholder="Event Date" value="@Model.EventDateTime.Value" />
            </div>
            <div class="col">
                <input type="number" id="modelSessions" class="form-control" min="1" max="99" step="1" placeholder="Nº Sessions"
                       value="@(Model.Sessions == 0 ? "1" : @Model.Sessions.ToString())" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="modelActive">Active</label>
                <input style="margin-left:10px;" type="checkbox" id="modelActive" checked="@(Model.Active.Value)" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                @Html.Label("Compañia:")
                @Html.DropDownListFor(e => e.CompanyId, (List<SelectListItem>)Session["selectCompanies"], "- Please select a company -", new { @class = "form-control", @id = "modelCompany" })
            </div>
            <div class="col">
                @Html.Label("Idioma:")
                @Html.DropDownListFor(e => e.LanguageId, (List<SelectListItem>)Session["selectLanguages"], "- Please select a language -", new { @class = "form-control", @id = "modelLanguage" })
            </div>
        </div>
        <div class="form-row">
            <br />
            <div class="col">
                <button type="button" class="btn btn-success" id="CreateBtn" value="Create" style="width: 125px;">Create</button>
            </div>
            <br />
            <div class="col">
                <input type="button" class="btn btn-secondary" id="CancelBtn" value="Cancel" style="color: darkblue; border: lightblue 1px solid; width: 125px;" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        //Click on create
        $("#CreateBtn").click(function () {
            if (IsValid()) {
                $.ajax({
                    url: '@Url.Action("AddNew", "Event")',
                    data: { entity: BuildNewEvent() },
                    type: 'POST',
                    success: function (data) { alert("El nuevo evento [" + data + "] se ha creado correcatemente."); ReturnToIndex(); },
                    error: function () { alert("Ha ocurrido un error creando el nuevo evento."); }
                });
            }
            else {
                alert("Formulario no válido...");
            }
        });

        //Click on cancel
        $("#CancelBtn").click(function () {
            return ConfirmCancel();
        });
    });

    function BuildNewEvent()
    {
        var event = {
            Id: $("#modelId").val(),
            Name: $("#modelName").val(),
            Description: $("#modelDescription").val(),
            Capacity: $("#modelCapacity").val(),
            Sessions: $("#modelSessions").val(),
            EventDateTime: $("#modelEventDateTime").val(),
            Active: $("#modelActive").prop("checked"),
            CompanyId: $("#modelCompany").val(),
            LanguageId: $("#modelLanguage").val()
        };
        return event;
    }

    function IsValid() {

        alert("Form data validation is not yet implemented");
        return true;
    }

    function ConfirmCancel() {

        if (confirm("¿Seguro que deseas cancelar y salir?") == true) {
            ReturnToIndex();
        }
        else return false;
    }

     function ReturnToIndex() {
        location.href = '@Url.Action("Index", "Event")';
    } 

</script>