@model IEnumerable<EventManager.Event>
@using GridMvc.Html
@{
    ViewBag.Title = "Events";
}
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<style type="text/css"> 
    .tableCell{
       display: table-cell !important;
    } 
</style>
<div class="jumbotron">
    <h2>Events</h2>
    <br />
    @using (Ajax.BeginForm("Create", new AjaxOptions
    {
        HttpMethod = "Post",
        OnSuccess = "Loaded"
    }))
    {
        <button type="submit" value="Create" class="btn btn-success">Add new event</button>
    }
    <br />
    <input type="button" class="btn btn-danger" value="Disable" onclick="location.href='@Url.Action("Disable", "Event")'" />
    <br /> <br />
        @{
        //var eventos = ViewData["allEvents"] as List<Event>;

        @Html.Grid(ViewData.Model).Columns(columns =>
        {
           columns.Add().Titled("<input id='allChk' type='checkbox' /> ")
            .Encoded(false).Sanitized(false).SetWidth(30)
            .RenderValueAs(o => Html.CheckBox("checked", false, new { name = "checked", value = o.Id, }));

           columns.Add(c => c.Id).Titled("Event ID");
           columns.Add(c => c.Name).Titled("Name");
           columns.Add(c => c.Description).Titled("Description");
           columns.Add(c => c.Capacity).Titled("Capacity");
           columns.Add(c => c.EventDateTime).Titled("Event DateTime");
           columns.Add(c => c.Sessions).Titled("Nº Sessions");
           columns.Add(c => c.Active).Titled("Active").RenderValueAs(c => c.Active == true ? "Yes" : "No");
           //columns.Add(c => c.Company.Name).Titled("Company Name");
           //columns.Add(c => c.Language.Name).Titled("Language Name");

            columns.Add().Titled(null).Css("btn glyphicon glyphicon-pencil tableCell").Filterable(false).Sortable(false)
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(30)
           .RenderValueAs(c => Html.ActionLink("Edit", "Edit", new { id = c.Id }))
           .HeaderRenderer = null;

           columns.Add().Titled(null).Css("glyphicon glyphicon-trash tableCell").Filterable(false)
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(30)
           .RenderValueAs(c => Html.ActionLink("Delete", null, null, new { @onclick = "return DeleteEventById(" + c.Id + ",'" + c.Name + "');" }))
           .HeaderRenderer = null;
       }).WithPaging(10).Sortable(true).Filterable(true);
    }

</div>

<script type="text/javascript">

    function selectedCheckbox(status) {
        $("input[type=checkbox]").each(function () {
            $(this).prop("checked", status);
        });
    }

    $(document).ready(function () {
         
        $("#allChk").click(function () {
            var status = $("#allChk").prop('checked');
            selectedCheckbox(status);
        });
    });

    function DeleteEventById(eventId, eventName) {

        var opcion = confirm("¿Seguro que deseas eliminar el evento [" + eventName + "]?");
        if (opcion == true) {
            $.ajax({
                url: '@Url.Action("Delete", "Event")',
                data: { id: eventId },
                type: 'POST',
                success: function () { alert("El evento se ha eliminado correcatemente."); },
                error: function () { alert("Ha ocurrido un error eliminando el evento."); }
            });
	    } else { return false; }
    }
</script>